.splitpage {
    -ms-grid-columns: 638px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .splitpage .itemlist .win-vertical.win-viewport .win-surface {
        margin-bottom: 60px;
    }

    .splitpage header[role=banner] .pagetitle {
        -ms-grid-column: 2;
        overflow: hidden;
        width: calc(100% - 20px);
    }

    .splitpage .itemlistsection {
        -ms-grid-row: 2;
        margin-left: 106px;
    }

        .splitpage .itemlistsection .itemlist {
            height: 100%;
            position: relative;
            width: 100%;
            z-index: 0;
        }

    .splitpage .itemlist .win-vertical.win-viewport .win-container {
        margin-bottom: 15px;
        margin-right: 42px;
        padding: 7px;
    }

    .splitpage .itemlistsection .itemlist .win-container .win-selectioncheckmark {
        display: none;
    }

    .splitpage .itemlistsection .itemlist .win-container .win-selectioncheckmarkbackground {
        display: none;
    }

    .splitpage .itemlistsection .itemlist .win-item {
        -ms-grid-columns: 110px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 110px;
        width: 500px;
    }

        .splitpage .itemlistsection .itemlist .win-item .item-info {
            -ms-grid-column: 2;
            margin-left: 10px;
            margin-right: 10px;
            overflow: hidden;
        }

            .splitpage .itemlistsection .itemlist .win-item .item-info .item-title {
                margin-top: 4px;
            }

    .splitpage .itemlistsection .itemlist .item .item-info .item-subtitle {
        opacity: 0.6;
    }

    .splitpage .itemlistsection .itemlist .win-item .item-info .item-description {
        max-height: 60px;
        overflow: hidden;
    }

    .splitpage .articlesection {
        -ms-grid-column: 2;
        -ms-grid-row-span: 2;
        -ms-grid-row: 1;
        margin-left: 70px;
        overflow-y: auto;
        padding-right: 120px;
        position: relative;
        z-index: 0;
    }

        .splitpage .articlesection header {
            -ms-grid-columns: 180px 20px 1fr;
            -ms-grid-rows: 180px;
            display: -ms-grid;
            margin-bottom: 6px;
            margin-top: 60px;
        }

            .splitpage .articlesection header .text {
                -ms-grid-column: 3;
            }

            .splitpage .articlesection header .article-image {
                height: 180px;
                width: 180px;
            }

        .splitpage .articlesection .article-content {
            overflow-y: auto;
        }

            .splitpage .articlesection .article-content p {
                margin-bottom: 16pt;
            }

@media screen and (-ms-view-state: filled) {
    .splitpage {
        -ms-grid-columns: 420px 1fr;
    }

        .splitpage .itemlistsection .itemlist .win-item {
            -ms-grid-columns: 60px 1fr;
            height: 60px;
            margin-bottom: 0;
            width: 282px;
        }

            .splitpage .itemlistsection .itemlist .win-item .item-image {
                height: 60px;
                width: 60px;
            }

            .splitpage .itemlistsection .itemlist .win-item .item-info .item-title {
                margin-top: 0px;
                max-height: 40px;
                overflow: hidden;
            }

            .splitpage .itemlistsection .itemlist .win-item .item-info .item-description {
                display: none;
            }

        .splitpage .articlesection {
            padding-right: 66px;
        }
}

@media screen and (-ms-view-state: snapped) {
    .splitpage {
        -ms-grid-columns: 320px 0px;
    }

        .splitpage .itemlistsection {
            margin-left: 6px;
        }

            .splitpage .itemlistsection .itemlist .win-item {
                -ms-grid-columns: 60px 1fr;
                height: 60px;
                width: 282px;
            }

                .splitpage .itemlistsection .itemlist .win-item .item-image {
                    height: 60px;
                    width: 60px;
                }

                .splitpage .itemlistsection .itemlist .win-item .item-info .item-title {
                    margin-top: 2px;
                    max-height: 30pt;
                    overflow: hidden;
                }

                .splitpage .itemlistsection .itemlist .win-item .item-info .item-description {
                    visibility: hidden;
                }

        .splitpage .articlesection {
            -ms-grid-row-span: 1;
            -ms-grid-row: 2;
            margin-left: 20px;
            padding-right: 36px;
        }

            .splitpage .articlesection header {
                display: block;
                margin-top: 0;
            }

                .splitpage .articlesection header .article-image {
                    height: 160px;
                    width: 242px;
                }

                .splitpage .articlesection header .text {
                    -ms-grid-column: 1;
                }

                    .splitpage .articlesection header .text .article-subtitle {
                        margin-bottom: 20px;
                        overflow: hidden;
                    }

        .splitpage .itemlistsection, .splitpage .articlesection {
            -ms-grid-column: 2;
            visibility: hidden;
        }

        .splitpage .primarycolumn {
            -ms-grid-column: 1;
            visibility: visible;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .splitpage {
        -ms-grid-columns: 1fr 0px;
    }

        .splitpage .itemlistsection {
            margin-left: 86px;
        }

            .splitpage .itemlistsection .itemlist .win-vertical.win-viewport .win-container {
                margin-right: calc(100% - 510px);
            }

        .splitpage .articlesection {
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            margin-left: 100px;
            padding-right: 100px;
        }

            .splitpage .articlesection .header {
                margin-top: 0;
            }

        .splitpage .itemlistsection, .splitpage .articlesection {
            -ms-grid-column: 2;
            visibility: hidden;
        }

        .splitpage .primarycolumn {
            -ms-grid-column: 1;
            visibility: visible;
        }
}
