<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fragments</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <script type="text/javascript" src="pageControl.js"></script>
    <script type="text/javascript" src="/myControls/alert.js"></script>
</head>
<body>

    <div id="btnDelete"
        data-win-control="MyControls.Alert"
        data-win-options="{
            buttonLabel: 'Click Here!',
            message: 'You clicked the button!'
        }"></div>

</body>
</html>
